.appbar {
    font-family: Lobster;
    color: white;
    
    h1 {
        color: white;
        font-size: 36px;
        line-height: 1.4em;
        font-weight: 400;
        margin: 0;
    }
    
    a:link, a:visited {
        color: white;
    }
    
    text-align:center;
    padding: 10px;
    background: #1a2a63;
}
