.appbar {
    h1 {
        font-family: Lobster;
        font-size: 36px;
        line-height: 1.4em;
        font-weight: 400;
        color: white;
        margin: 0;
    }
    
    height: 60px;
    text-align:center;
    padding: 10px;
    background: #1a2a63;
}
