@media print {
    .no-print {
        display: none;
    }
    .eventTable !important {
        display: block;
    }
}

.greyed {
    background-color: #f7f7f9;
}

.eventTable {
    border: 1px solid #d1d1d1;
    border-collapse:collapse;
    width: 100%;
}

.eventTable .desc {
    width: 80%;
}

.eventTable .event td {
    border: 1px solid #d1d1d1;
    padding: 10px;
}

.eventTable .event .duration {
    text-align: center;
}

.eventTable .day {
    font-size: 1.5em;
    margin: 8px 0 5px 0;
    display: inline-block;
    font-weight: 500;
    color: black;
}
